# Environments
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules/
__pycache__/
.python-version

# Build artifacts
build/
dist/
*.egg-info

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log
